<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask上传图片演示</title>
</head>
<body>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <br>
        <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
    </form>

    <img src="{{ url_for('static', filename= './images/test.jpg', _t=val1) }}" alt="原始图片" style="max-width:100%; max-height:100%;"/>
</body>
</html>
